@import "../../node_modules/bootstrap/scss/bootstrap.scss";
$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

$container-max-widths: (
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

$body-bg-main: #f4f5f7;
$color-primary: #f83f67;
$color-theme-700: #737373;
$color-600: #8e8e8e;
$border-primary: #dadada;
$page-paper-main: #fff;
$color-secondary: #f83f67;
$color-theme-900: #373737;
$shadow-primary: 0 64px 64px 0 rgba(0, 0, 0, 0.06),
  0 32px 32px 0 rgba(0, 0, 0, 0.03), 0 16px 16px 0 rgba(0, 0, 0, 0.02),
  0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.02);

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: $body-bg-main !important;
  font-family: Montserrat, Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500 !important;
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.react-logo {
  animation: rotate 4s linear infinite;
  width: 450px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.basic-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  color: #575757;
  transition: all 0.3s;
  overflow: hidden;
}

.basic-card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.cursor-pointer {
  cursor: pointer;
}

.card-title {
  @extend .text-primary;
  font-weight: 600 !important;
}

.bg-primary {
  background-color: #bb5694 !important;
}

.text-primary {
  color: #bb5694 !important;
}
